.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--show--toolbar{
    visibility: visible;
    background: none;
    color: white;
    border: none;
    text-align: center;
  @media (min-width: 800px){
    visibility: hidden;
  }
}

.button--list-item-icon{
    width: 20px;
    height: 20px;
    background: $blue;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0; 
    margin-right: 2%;
}

.button--list-item-delete{
  @extend .button--list-item-icon;
  background: red;
}



.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
