.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--list-item-show{
  width: 30px;
  height: 30px;
  background: $blue;
  border: none;
  color: white;
  text-decoration: none;
}

.button--list-item-delete{
  @extend .button--list-item-show;
  background: red;
}



.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
