.header {
  background: $dark-blue;
}

.header__content {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size;
  
}

.header__title {
  color: white;
  font-size: $s-size;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
