.text-input {
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  border: none;
}

.textarea-input{
  height: 50vh;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
