.text-input {
  height: 30px;
  width: 100%;
  font-size: $font-size-large;
  font-weight: 300;
  padding: none;
  border: none;
  text-align: center;
}

.inputEditable{
  font-size: $xs-size;
  height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
}

.select {
  @extend .text-input;
  background: white;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}
